################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/test/v16
/Debug
/test/Debug
/test/x64/Debug
/x64/Debug
